@charset "UTF-8";

@media (max-width: 768px) {

    #burguer {
        display: block;
        background-color: rgba(29, 29, 29, 0.9);
        color: white;
        padding: 12px;
        cursor: pointer;
        margin-top: 20px;
    }

    nav#itens {
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    nav#itens.ativo {
        display: flex;
    }

    .top-space {
        height: 30px;
    }

    .inicio-container {
        flex-direction: column;
        text-align: center;
    }

    .inicio-texto {
        order: 1;
    }

    #img-livro {
        order: 2;
        max-width: 250px;
    }
}
